* 
{
	box-sizing: border-box;
}
body 
{
	font: 12px/1.0 sans-serif ;
	margin: 0px;
	padding: 0px;
	background-color: #e9e9e9;
	color: white;
	user-select: none;
}

.container-for-header
{
	background-color: #e9e9e9;
	background: url("../background.png") no-repeat 0;
	background-size: 100% 50%;
	background-position: top;
	width: 100%;
	height: 30%;
	margin: auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* Header */

header
{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}

.header-fill
{
	box-shadow: 0px 0px 0px 0px #000000;
	width: 100%;
}

/* nav-bar-1 */

.fill-top-navbar
{
	background-color: #776bc8;
}

.nav-first-row 
{
	background-color: #776bc8;
	height: 54px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	
}

.logo
{
	/*float: left;*/
	padding: 0px 0px 0px 32px;
	display: flex;
	justify-content: flex-start;
}

.logo img
{
	padding: 2px 0px;
}

.search-bar
{
	height: 100%;
	width: 200px;
	transition-duration: 500ms;
}
.search-bar input
{
	background: url("../assets/icons/search-purple.png") left no-repeat;
	background-position: 95%;
	width: 100%;
	height: 100%;
	background-color: #fafafa;
	border: solid 1px #e8e8e8;
	padding: 12px 52px 12px 12px;
	color: #5d52a8; 
	font-size:14px;
	outline: none;
}
.notification-icon
{
	height: 100%;
	border-right: 1px solid #675daa;
	padding: 9px 10px 0 12px;
}
.notification-icon img 
{
	width: 36px;
	height: 36px;
}

.login-ask
{
	border-right: 1px solid #675daa;
	padding-left: 6px;
}
.login-ask div
{
	height: 100%;
	padding: 9px 6px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.login-ask div img
{
	width: 36px;
	height: 36px;
	/*float: left;*/
}
.login-ask div a
{
	/*float: right;*/
	color: #ffffff;
	margin: 10px 26px 0 12px;
	font-size: 14px;
}


.nav-first-row ul
{
	margin-right: 40px;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
	/*float: right;*/
	list-style-type: none;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.nav-first-row ul li
{
	/*float: left;*/
	color: #ffffff;
}

.nav-first-row ul li a:link
{
	text-decoration: none;
	color: #ffffff;
}


/*nav-bar-2*/

.fill-bottom-navbar
{
	background-color: rgba(119,107,200,0.5);
}

.nav-second-row 
{
	height: 46px;
	width: 100%;
	display: flex;
}

.list
{
	width: 100%;
	height: 100%;
	padding: 0px 17px;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bttn
{
	outline: none;
	border: none;
}

.list-items
{
	display: flex;
	flex-direction: row;
}

.list-item 
{
	height: 100%;
	padding-top: 16px;
}

.linkbutton 
{
	padding: 15px 16px;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
}

.list-item a:hover
{
	background-color: #453b8c;
	color: #ffffff;
}

.active
{
	background-color: #453b8c;
	color: #ffffff;
}


/* Header-section */


.fill-header-section
{
	background: url("../background.png") no-repeat 0;
	background-size: 100% 50%;
	background-position: top;
	width: 100%;
}

header section
{
	width: 100%;
	padding-left: 38px;
    padding-top: 32px;
}

header section p
{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

header section div p
{
	margin-top: 19px;
	display: inline-block;
}

button
{
	background-color: rgba(0,0,0,0);
	border: none;
	outline: none;
}


.ripple {
  background-position: center;
  transition: background 0.4s;
}
.ripple:hover {
  background: rgba(0,0,0,0.2) radial-gradient(circle, transparent 1%, rgba(255,255,255,0.5) 1%) center/15000%;
}
.ripple:active {
  background-size: 100%;
  transition: background 0s;
}

header section div img
{
	display: inline-block;
	width: 26px;
	height: 26px;
	position: relative;
	top:1px;
	left:0px;
}

.header-section-head
{
	font-size: 18px;
}

.header-section-sub-head
{
	font-size: 32px;
}

.header-section-count
{
	font-size: 33px; 
	padding-top: 4px;
}

#grad-first-line
{
	margin: 0 0 5px 10px;
	display: inline-block;
	width: 450.9px;
    height: 2px;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to left, rgba(255, 255, 255, 0), #ffffff);
    border-image-slice: 1;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Showcase */

.fill-showcase
{
	background: url("../background.png") no-repeat 0;
	background-size: 100% 50%;
	background-position: top;
	overflow: hidden;
}
.showcase
{
	width: 100%;
	height: 373px;
	padding: 20px 40px 0;
}

.showcase p
{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.first-image-box
{
	margin-right: 1%;
	float: left;
	width: 49%;
	position: relative;
	overflow: hidden;
	margin-bottom: 57px;
}
.first-image-box img
{	
	width: 100%;
	height: 353px;
	object-fit: cover;
}

.blog-tag
{
	width: 57px;
    height: 32px;
    padding: 10px 0 6px 7px;
    position: absolute;
    background-color: #5d52a8;
    top: 21px;
    left: 0px;
    font-size: 16px;
}

.first-box-div 
{
	position: absolute;
	background-color: #ffffff;
	width: 70%;
    max-height: 70%;
    opacity: 0.96;
    bottom: 0%;
    left: 30%;
	padding: 22px 14px 32px 22px;
}

.second-image-box
{
	margin-left: 1%;
	float: left;
	width: 49%;
	position: relative;
	overflow: hidden;
	margin-bottom: 57px;	
} 
.second-image-box img
{	
	width: 100%;
	height: 353px;
	object-fit: cover;
}

.whitepapers-tag
{
	width: 128px;
	height: 32px;
	padding: 9px 0 7px 8px;
	position: absolute;
	background-color: #5d52a8;
	top: 20px;
	left: 0px;
	font-size: 16px;
}

.second-box-div 
{
	position: absolute;
	background-color: #ffffff;
	width: 70%;
    max-height: 70%;
    opacity: 0.96;
    bottom: 0%;
    left: 30%;
	padding: 22px 14px 32px 22px;
}

.showcase-head
{
	color: #b5d400; 
	font-size: 14px; 
	letter-spacing: 1.1px;
}

.showcase-sub-head
{
	color: #464646; 
	font-size: 20px; 
	letter-spacing: 0.6px; 
	padding-top: 3px;
}

.showcase-name-head
{
	color: #bebebe; 
	font-size: 14px; 
	letter-spacing: 0.4px; 
	padding-top: 13px;
}

.showcase-text
{
	color: #464646; 
	font-size: 14px; 
	letter-spacing: 0.4px; 
	padding-top: 6px; 
	line-height: 15px;
}

.star-comment-showcase img, p
{
	display: inline-block;
}

.star-comment-showcase
{
	margin-top: 10px;
}

.star-comment-showcase img
{
	width: 15px; 
	height: 14px;
}


/* blog section */

.fill-article
{
	background-color: #ffffff;
}

article
{
	width: 100%;
	background-color: #ffffff;
	display: flex;
	padding: 0 40px;
}

article p
{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/* section */

#grad-second-line
{
	display: inline-block;
	margin: 0 0 5px 10px;
    width: 70%;
    height: 2px;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to left, rgba(70, 70, 70, 0), #464646);
    border-image-source: linear-gradient(to left, rgba(70, 70, 70, 0), var(brown));
    border-image-slice: 1;
    position: relative;
}
article section
{
	width: 100%;
	padding-top: 40px;
}

.heading-contain
{
	position: relative;
}

.section-head
{
	color: #464646; 
	font-size: 18px; 
	letter-spacing: 0.5px;
}

.section-container
{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.first-sec
{
	width: 100%;
	height: 290px;
	margin: 20px 40px 20px 0;
	transition-duration: 500ms;
}

.first-sec img
{
	width: 50%;
    height: 100%;
    object-fit: cover;
    background-color: #ffffff;
    float: left;
}

.matter
{
	float: left;
	width: 50%;
	padding-left: 40px;
}

.matter-head
{
	color: #464646;
	font-size: 18px; 
	letter-spacing: 0.5px;
}

.matter-sub-head
{
	color: #bebebe;
	font-size: 14px; 
	letter-spacing: 0.4px; 
	padding-top: 7px;
}

.matter-text
{
	color: #636363; 
	font-size: 14px; 
	letter-spacing: 0.4px;
	padding-top: 20px; 
	line-height: 20px;
}


.box
{
	width: 45%;
	margin: 20px 40px 20px 0;
	transition: 500ms;
}


.box img
{
	width: 100%;
    height: 203px;
    object-fit: cover;
    background-color: #ffffff;
}

.star-comment-box img, p
{
	display: inline-block;
}

.box-para
{
	color: #464646;
	font-size: 18px; 
	letter-spacing: 0.5px; 
	padding-top: 12px;
}

.star-comment-box img
{
	width: 15px; 
	height:14px;
}

.box-span
{
	color: #bebebe;
	font-size: 14px; 
	letter-spacing: 0.4px; 
	padding-top: 7px;
}

.star-comment-para
{
	font-size: 14px; 
	letter-spacing: 0.4px; 
	color: #bebebe;
}


/* aside */

aside
{
	float: right;
	border: 6px solid #d2ec3c;
	color: #000000;
	width: 30%;
	height: 100%;
	position: relative;
	display: block;
	margin-top: 40px;
}

.banner
{
	width: 65%;
	height: 55px;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #249c9f;
	padding: 7px 15px 7px 15px;
	text-align: center;
	color: #ffffff; 
	font-size: 14px; 
	letter-spacing: 0.5px;
}

aside img
{
	width: 100%;
    height: 204px;
}

.matter-for-aside
{
	width: 100%;
	padding: 10px;
}

.aside-same-para-first
{
	color: #5d52a8;
	font-size: 12px; 
	letter-spacing: 1.2px; 
	padding: 10px 0 0 17px;
}

.aside-same-para-second
{
	color: #464646;
	font-size: 18px; 
	letter-spacing: 0.5px; 
	padding: 5px 0 0 17px;
}

.aside-same-para-third
{
	color: #bebebe;
	font-size: 14px; 
	letter-spacing: 0.4px; 
	padding: 5px 0 30px 17px;
}

/* POP UPs */

.btn-pop
{
	display: inline-block;
	width: 20%;
	position: relative;
}

.popup-position
{
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	display: none;
}

#popup-container
{
	position: absolute;
    z-index: 1;
    right: 42%;
    top: 100%;
    width: 100%;
	background-color: #8dedefeb;
	padding: 20px;
	color: black;
	border-radius: 5px;
	font-weight: bold;
	box-shadow: 4px 4px 15px 3px #000000;
}

#popup-container {
	position: relative;
	background: #8dedefeb;
}

#popup-container:after {
	bottom: 100%;
	left: 48%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(141, 237, 239, 0);
	border-bottom-color: #8dedefeb;
	border-width: 20px;
	margin-left: -15px;
}

.askBeroe-popup-pos
{
	z-index: 1;
	position: absolute;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	display: none;
    justify-content: center;
    align-items: center;
}

#popup-wrap
{
	width: 85%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#popup-cont
{
	background-color: #8dedefeb;
	padding: 20px;
	color: black;
	border-radius: 10px;
	font-weight: bold;
	font-size: 15px;
	line-height: 30px;
	box-shadow: 4px 4px 15px 3px #000000;
	height: 50%;
	width: 70%;
}

.more-less
{
	color: #5d52a8; 
	font-size: 22px;
	font-weight: bold; 
	padding-top: 30px;
}

.read-more
{
	font-size: 18px;
	font-weight: bold;
	background-color: #776bc8;
	color: #ffffff;
	border: 2px dotted rgba(119,107,200,0.5);
}

.extra-wrapper p
{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

.extra-wrapper
{
	background-color: #ffffff;
}

.extra-container
{
	background-color: #ffffff;
	padding: 0 40px;
}

#extra-matter
{
	width: 100%;
	padding-top: 40px;
	display: none;
	flex-wrap: wrap;
}

.first-ex
{
	width: 63%;
	height: 290px;
	margin: 20px 40px 20px 0;
	transition-duration: 500ms;
}

.first-ex img
{
	width: 50%;
    height: 100%;
    object-fit: cover;
    background-color: #ffffff;
    float: left;
}

.ex-box .matter
{
	float: left;
	width: 50%;
	padding-left: 40px;
}

.ex-box .matter-head
{
	color: #464646;
	font-size: 18px; 
	letter-spacing: 0.5px;
}

.ex-box .matter-sub-head
{
	color: #bebebe;
	font-size: 14px; 
	letter-spacing: 0.4px; 
	padding-top: 7px;
}

.ex-box .matter-text
{
	color: #636363; 
	font-size: 14px; 
	letter-spacing: 0.4px;
	padding-top: 20px; 
	line-height: 20px;
}

.ex-box
{
	width: 30%;
	margin: 20px 40px 20px 0;
	transition: 500ms;
}

.ex-box img
{
	width: 100%;
    height: 203px;
    object-fit: cover;
    background-color: #ffffff;
}

.ex-box .star-comment-box img, p
{
	display: inline-block;
}

.ex-box .box-para
{
	color: #464646;
	font-size: 18px; 
	letter-spacing: 0.5px; 
	padding-top: 12px;
}

.ex-box .star-comment-box img
{
	width: 15px; 
	height:15px;
}

.ex-box .box-span
{
	color: #bebebe;
	font-size: 14px; 
	letter-spacing: 0.4px; 
	padding-top: 7px;
}

.ex-box .star-comment-para
{
	font-size: 14px; 
	letter-spacing: 0.4px; 
	color: #bebebe;
}

.sponser-btn img
{
	width: 15px;
	height: 15px;

}

.sponser-btn
{
	position: relative;
	top: 0%;
	left: 0%;
}

#banner-to-show
{
	width: 15%;
	height: 55px;
	background-color: #249c9f;
	padding: 7px 15px 7px 15px;
	text-align: center;
	color: #ffffff; 
	font-size: 14px; 
	letter-spacing: 0.5px;
	position: absolute;
    display: none;
    bottom: 0%;
    left: 85%;
}


.sponser-btn-to-show img
{
	width: 15px;
	height: 15px;
}

footer
{
	height: 50px;
	background-color: #776bc8;
	color: #b0b0b0;
	font-size: 20px;
	letter-spacing: 10px;
	margin-top: 10px;
}

/* Responsiveness */

@media only screen and (min-width: 1280px)
{
	.container-for-header
	{
		max-width: 1280;
		margin: 0 auto;
	}

	.nav-first-row
	{
		max-width: 1280px;
		margin: 0 auto;
	}
	
	.nav-second-row
	{
		max-width: 1280px;
		margin: 0 auto;
	}

	header section
	{
		/*padding-left: 0px;*/
		max-width: 1280px;
		margin: 0 auto;
	}

	.showcase
	{
		/*padding: 20px 0px;*/
		max-width: 1280px;
		margin: 0 auto;
	}

	article
	{
		/*padding: 27px 0px 20px 0px;*/
		max-width: 1280px;
		margin: 0 auto;
	}
	
	.extra-container
	{
		max-width: 1280px;
		margin: 0 auto;
	}
	#extra-matter
	{
		max-width: 1280px;
		margin: 0 auto;
	}

	#popup-wrap
	{
		max-width: 1280px;
		margin: 0 auto;
	}
}


