body {
	margin: 0px;
	background-color: black;
}

.wrapper1 {
	margin: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: space-between;
}

p
{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    color: white;
}


.B1
{
	border: 5px solid green;
	width: 100%;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}

.B2
{
	border: 5px solid green;
	width: 50%;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}

.B3
{
	border: 5px solid green;
	width: 33%;
	min-height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px;
}


.container-1
{
	display: flex;
	width: 100%;
	justify-content: center;
}

.container-2
{
	display: flex;
	width: 100%;
	/*justify-content: space-between;*/
}

.container-3
{
	display: flex;
	width: 100%;
	/*justify-content: space-between;*/
}



@media only screen and (max-width: 767px)
{
	.container-1
	{
		flex-direction: column;
		justify-content: space-between;
	}
	
	.container-2
	{
		flex-direction: column;
		justify-content: space-between;
	}
	
	.container-3
	{
		flex-direction: column;
		justify-content: space-between;
	}
	
	.wrapper1
	{
		flex-direction: column;
	}

	.B1
	{
		width: 100%;
		margin: 50px auto;
	}

	.B2
	{
		width: 100%;
		margin: 50px auto;
	}

	.B3
	{
		width: 100%;
		margin: 50px auto;
	}

}